{
	"title": "${{values.activityName}} Trigger",
	"name": "${{values.activityName}}",
	"author": "TIBCO Developer Hub",
	"version": "1.2.2",
	"type": "flogo:trigger",
	"display": {
		"description": "${{values.activityName}} trigger",
		"category": "${{values.category}}",
		"visible": true,
		"smallIcon": "icons/trigger-icon@2x.png",
		"largeIcon": "icons/trigger-icon@3x.png"
	},
	"ref": "github.com/${{values.owner}}/flogo-enterprise-hub/extensions/${{values.category}}/trigger/${{values.activityName}}",
	"settings": [],
	"handler": {
		"settings": [
			{
                "name": "Scheduler Options",
                "type": "string",
                "required": true,
                "display": {
                    "name": "Scheduler Options",
                    "description": "The scheduler options for cron and timer",
                    "type": "dropdown",
                    "selection": "single"
                },
                "value": "Timer",
                "allowed": [
                    "Timer",
                    "Cron Job"
                ]
            },
			{
				"name": "Start Time",
				"type": "string",
				"display": {
					"name": "Start Time",
					"type": "dateTime",
					"description": "Start time to start the flow execution",
					"appPropertySupport": true
				}
			},
			{
				"name": "Repeating",
				"type": "boolean",
				"display": {
					"name": "Repeating",
					"description": "Indicates whether this flow should run only once or multiple times"
				},
				"value": false,
				"required": true
			},
			{
				"name": "Delayed Start",
				"type": "boolean",
				"display": {
					"name": "Delayed Start",
					"description": "Adds delay to start time",
					"appPropertySupport": true
				},
				"value": false,
				"required": true
			},
			{
				"name": "Time Interval",
				"type": "integer",
				"display": {
					"name": "Time Interval",
					"description": "The time interval to start the flow execution",
					"appPropertySupport": true
				},
				"value": 1,
				"required": true
			},
			{
				"name": "Interval Unit",
				"type": "string",
				"required": true,
				"display": {
					"name": "Interval Unit",
					"description": "The unit of time interval to start the flow execution",
					"type": "dropdown",
					"selection": "single",
					"appPropertySupport": true
				},
				"value": "Second",
				"allowed": [
					"Second",
					"Minute",
					"Hour",
					"Day",
					"Week"
				]
			},
			{
                "name": "Cron Expression",
                "type": "string",
                "display": {
                    "name": "Cron Expression",
                    "type": "cron",
                    "description": "Schedule based on this cron expression. Please edit to set a schedule not configurable with Cron Expression Builder.",
                    "appPropertySupport": true
                },
                "value": ""
            }
		]
	}
}